.navBarContainer {
    width: 100%;
    background-color: #1976d2;
    padding: 0 40px;
    min-height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.navBarWrapper {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.logoWrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.navLinksWrapper {
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 45px;

}

.navLink {
    color: #FFFFFF;
    letter-spacing: 1px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px;
}