.toDoListsWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.toDoListTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.title {
    font-size: 30px;
}

.addToDoWrapper{
    display: flex;
    margin: 20px 0;
    column-gap: 10px;
    position: relative;
}
.sign{
    position: absolute;
    top: -24px;
    left: 0;
    font-size: 18px;
}

.newToDoInput{
    border: 1px solid #000000;
    padding-left: 10px;
    max-width: 200px;
    width: 100%;
}
.addNewToDoButton{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.addNewToDoButton:disabled{
    opacity: 0.3;
    cursor: auto;
}

.toDoList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 150px;
    gap: 10px;
    position: relative;
}

@media screen and (max-width: 1100px) {
    .toDoList {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .toDoList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .toDoList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .toDoList {
        grid-template-columns: 1fr;
    }
}

.toDoListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.48);
    border-radius: 10px;
    position: relative;
}
.deleteBtn{
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url('../../assets/images/removeBtn.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
}

@media screen and (max-width: 480px) {
    .itemTitle {
        max-width: none;
    }
}

.checkbox {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
